/*	background-color: #6d6e70; kleur van de menuitems op de startpage*/
body{
	background-color: #555555;
	font-family: sans-serif;
}
#container{
	width: 960px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
#startPageMenu{
	width: 100%;
	margin-left: auto;
	margin-right: auto;	
}
#startPageMenu img{
	width: 15%;
	margin-right: 10%;
}
#imgSales{
	margin-left: 17%;
}
#menu li{
	display: inline;
	text-decoration: none;
}